.App {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.body-content {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
}

.add-post-icon {
  font-size: 3em;
  align-self: center;
  padding-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

ul {
  display: inline;
  list-style-type: none;
}

.section-header h2 {
  margin-bottom: 0;
}

.selected-category {
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px lightgray;
}

.categories {
  order: 1;
  flex: 1 auto;
}

.category-list a {
  text-decoration: none;
}

.category-list li {
  padding: 10px 0 10px 5px;
  border-bottom: 0.25px solid lightgray;
  margin-right: 40px;
}

.category-list li:hover {
  background-color: lightgray;
}

.posts, .post-page {
  order: 2;
  flex: 1 auto;
}

.posts .section-header {
  display: flex;
  justify-content: space-between;
}

.post-listing-controls {
  margin: 20px 0;
}

.post-snippet {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.post-snippet-details h3 {
  margin-top: 0;
}

.post-snippet-score {
  margin-right: 40px;
}

.score {
  text-align: center;
  font-size: 2.5em;
}

.post-controls, .comment {
  display: flex;
  justify-content: flex-end;
}

.control-icon {
  padding-left: 8px;
}

.pointer:hover {
  cursor: pointer;
}

.post-page-aside {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.post-page-info, .comment-content {
  order: 1;
  flex: 1 auto;
}

.post-page-info p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-page-score, .comment-vote {
  order: 2;
  flex: 1 auto;
}

.post-page .section-content {
  margin-bottom: 100px;
}

.comment-options {
  display: flex;
}

.comment-vote {
  padding-top: 40px;
}

.comment {
  background: #C0C0C0;
  padding: 10px 20px 30px;
  margin-bottom: 10px;
  border-radius: 0 15px;
}

.close-icon {
  text-align: right;
}

/* https://www.w3schools.com/css/css_form.asp */
input[type=text], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
